---
layout: layout.njk
---
<article>
  
  <div class="text-center"><h1>{{ title }}</h1></div><br>
  <hr><br>
  <div class="text-left">{{ content | safe }}</div>
  <p>
    <hr><br>
    {# <i class="date">
      Written by {{ author }} - {{ date | date: "%b %d, %Y" }}
    </i> #}
  </p><br>
</article>