---
    layout: base.liquid
    title: About
    tags: nav
    header: About
---
    <div class="article" id="firstarticle">
          <h1>Joshua Lilleberg</h1>
          <br />
          <hr />
          <br />
          Paint pictures <br>
          Draw pictures <br>
          Study tings <br>
          Very fun. <br>
          <br />
          <hr />
          <br />
          Prague <br>
          <br />
          <hr />
          <br />
          <img src="{{ '/assets/img/IMG_6541.jpeg' | url }}" class="img" alt="" width="%" height="350">
          <br />
          <br />