---
layout: layout.njk
title: Home
tags: nav
---

<section id="about">
  <br>
  <div>
    <h1>About</h1>
    <br>
    <p class="text-center">My name is Josh. I like to make things and learn stuff.
    <p>
  </div>
</section>
<section id="library">
  <br>
  <hr>
  <br>
  <div>
    <h1>Library</h1>
    <br>
    <ul>
      {% for post in collections.lib %}
      <li>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
        <span>{# {{ post.data.author }} - {{ post.data.date | date: ("MMM dd, YYYY") }} #}
        </span>
        <br>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<section id="gallery">
  <br>
  <hr>
  <br>
  <div>
    <h1>Gallery</h1>
    <br>
    <div class="columns-2 flex-auto">
      {% for pic in collections.gallery %}
        <span class="">{{ pic.data.name }}</span>
        <br>
        <a href="{{ pic.url }}">
            <div class="h-80">
              <img class="rounded-md shadow-lg shadow-blorp" src="{{ pic.data.path }}" alt="{{ pic.data.name }}" />
            </div>
          {# <span class="date">{{ pic.data.date | date:("MMM dd, YYYY") }}</span> #}
        </a>
        <br>
      {% endfor %}
    </div>
  </div>
</section>
<section id="sketch">
  <br>
  <hr>
  <br>
  <div>
    <h1>Sketchbook</h1>
    <br>
    <div class="columns-2 flex-auto">
      {% for pic in collections.sketch %}
        <span class="">{{ pic.data.name }}</span>
        <br>
        <a href="{{ pic.url }}">
            <div class="h-80">
              <img class="rounded-md shadow-lg shadow-blorp" src="{{ pic.data.path }}" alt="{{ pic.data.name }}" />
            </div>
          {# <span class="date">{{ pic.data.date | date:("MMM dd, YYYY") }}</span> #}
        </a>
        <br>
      {% endfor %}
    </div>
  </div>
</section>
<section id="projects">
  <br>
  <hr>
  <br>
  <div>
    <h1>Projects</h1>
    <br /><br />
    {% for post in collections.proj %}
    <a href="{{ post.url }}">{{ post.data.title }}</a><br /><br />
    <span class="date">{# {{ post.data.author }} - {{ post.data.date | date: ("MMM dd, YYYY") }} #}
    </span>
    {% endfor %}
  </div>
</section>