---
layout: layout.njk
title: Home
tags: nav
---

<section>
  <div>
    <h1>About</h1>
    <br>
    <p class="text-center">My name is Josh. I like to make things and learn stuff.
    <p><br>
      <hr><br>
  </div>
</section>
<section>
  <div>
    <h1>Library</h1><br>
    <ul>
      {% for post in collections.lib %}
      <li>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
        <span>{# {{ post.data.author }} - {{ post.data.date | date: ("MMM dd, YYYY") }} #}
        </span>
        <br>
      </li>
      {% endfor %}
    </ul><br>
    <hr><br>
  </div>
</section>
<section >
  <div>
    <h1>Gallery</h1>
    <br>
    {% for pic in collections.art %}
    <span>{{ pic.data.name }}</span><br /><br />
    <a href="{{ pic.url }}">
      <div class="gallery-pic-container">
        <div class="flex-container-column centered">
          <img class="img" width="auto" height="300" src="{{ pic.data.path }}" alt="{{ pic.data.name }}" />
        </div>
      </div>
      {# <span class="date">{{ pic.data.date | date:("MMM dd, YYYY") }}</span> #}
    </a><br />
    <hr /> <br />
    {% endfor %}
  </div>
</section>
<section id="projects">
  <div class="article">
    <h1>Projects</h1>
    <br /><br />
    {% for post in collections.proj %}
    <a href="{{ post.url }}">{{ post.data.title }}</a><br /><br />
    <span class="date">{# {{ post.data.author }} - {{ post.data.date | date: ("MMM dd, YYYY") }} #}
    </span><br>
    {% endfor %}
  </div>
</section>